apiVersion: apps/v1
kind: Deployment
metadata:
  name: cluster-logging-operator
  labels:
spec:
  selector:
    matchLabels:
      name: cluster-logging-operator
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: cluster-logging-operator
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
      labels:
        name: cluster-logging-operator
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      serviceAccountName: cluster-logging-operator
      containers:
      - name: cluster-logging-operator
        image: quay.io/openshift-logging/cluster-logging-operator:latest
        imagePullPolicy: IfNotPresent
        securityContext:
          allowPrivilegeEscalation: false
        command:
          - cluster-logging-operator
        env:
          - name: WATCH_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.annotations['olm.targetNamespaces']
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: OPERATOR_NAME
            value: "cluster-logging-operator"
          - name: VECTOR_IMAGE
            value: "quay.io/openshift-logging/vector:0.21-rh"
          - name: FLUENTD_IMAGE
            value: "quay.io/openshift-logging/fluentd:1.14.6"
          - name: LOGFILEMETRICEXPORTER_IMAGE
            value: "quay.io/openshift-logging/log-file-metric-exporter:latest"