# Logs from kubernetes audit
[sources.input_myaudit_kube]
type = "file"
include = ["/var/log/kube-apiserver/audit.log"]
host_key = "hostname"
glob_minimum_cooldown_ms = 15000
ignore_older_secs = 3600
max_read_bytes = 3145728
rotate_wait_secs = 5

[transforms.input_myaudit_kube_meta]
type = "remap"
inputs = ["input_myaudit_kube"]
source = '''
  .log_source = "kubeAPI"
  .log_type = "audit"
'''