# Logs from openshift audit
[sources.input_myaudit_openshift]
type = "file"
include = ["/var/log/oauth-apiserver/audit.log","/var/log/openshift-apiserver/audit.log","/var/log/oauth-server/audit.log"]
host_key = "hostname"
glob_minimum_cooldown_ms = 15000
ignore_older_secs = 3600
max_read_bytes = 3145728
rotate_wait_ms = 5000

[transforms.input_myaudit_openshift_viaq]
type = "remap"
inputs = ["input_myaudit_openshift"]
source = '''
  .openshift.cluster_id = "${OPENSHIFT_CLUSTER_ID:-}"
  .tag = ".openshift-audit.log"
  . = merge(., parse_json!(string!(.message))) ?? .
  del(.message)
  ._internal.log_source = "openshiftAPI"
  .openshift_audit_level = .level
'''

# Set log_type
[transforms.input_myaudit_viaq_logtype]
type = "remap"
inputs = ["input_myaudit_openshift_viaq"]
source = '''
  .log_type = "audit"
  .hostname = get_env_var("VECTOR_SELF_NODE_NAME") ?? ""
  ts = del(.timestamp); if !exists(."@timestamp") {."@timestamp" = ts}
'''