apiVersion: "logging.openshift.io/v1alpha1"
kind: LogFileMetricExporter
metadata:
  name: instance
  namespace: openshift-logging
spec:
  tolerations:
    - key: node-role.kubernetes.io/master
      operator: Exists
      effect: NoSchedule
  resources:
    limits:
      cpu: 500m
    requests:
      cpu: 200m
      memory: 128Mi
  